/* home-page.css */

.MainLayout {
    background-color: lightblue;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .button-wrapper {
    margin-top: 20px;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #f2f2f2;
    color: #333;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #ddd;
  }
  